.container {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

#canvas-real{
    border:1px black dotted;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#canvas-draft{
    background-color: transparent;
    z-index: 9999999;
}
  #color-input {
      display: none;
    }
  #fillcolor-input {
      display: none;
    }  
  #color-label{
    margin-left: 15px;
    position: absolute;
    height: 50px;
    width: 50px;
  } 
  #fillcolor-label {
    margin-left: -90px;
    position: relative;
    height: 30px;
    width: 30px;
  } 
  #color-input:checked ~ #color-picker {
    opacity: 1;
  }
  #fillcolor-input:checked ~ #color-picker {
    opacity: 1;
  }
  #color-picker {
    position: absolute;
    left: 70px; 
    background-color: white;
    height: 185px;
    width: 205px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
  }
  canvas:hover {
    cursor: crosshair;
  }
  

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
