#canvas-real{
    border:1px black dotted;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#canvas-draft{
    background-color: transparent;
    z-index: 9999999;
}

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}